* {
  font-size: 1em;
  font-family: Roboto;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.displayDiv {
  display: inline-block;
}

.dates {
}

.date {
  font-weight: bold;
}

.commits {
}

.commit {
}

.titlecommits {
  font-style: italic;
}

.cardtitle {
  display: inline-block;
}

.cardtitle {
  display: inline-block;
}

.description {
}

.comments {
  margin: 0 auto;
}

.comment {
  margin-left: 20px;
}
