* {
  font-size: 1em;
  font-family: Roboto;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.displayDiv {
  display: inline-block;
}

/* group by date */

.dates {
}

.date {
  font-weight: bold;
}

.commits {
}

.commit {
}

/* group by user */

.users {
  margin: 0 auto;
}

.user {
  font-weight: bold;
}

.lists {
}

.list {
  margin-left: 20px;
}

.card {
  margin-left: 20px;
}

.tableMainTitle {
  text-align: left;
  vertical-align: top;
}

.tableTitle {
  text-align: left;
  vertical-align: top;
  font-weight: normal;
  font-style: italic;
  width: 100px;
}

.tableData {
  text-align: left;
  font-weight: normal;
}
